.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container li {
  list-style: none;
}
.about-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  background: #434343;
  color: white;
  padding: 30px;
  position: relative;
  width: 100vw;
  font-size: 40px;
  margin: auto 0;
  left: 0;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
}

.dev-list {
  min-width: 600px;
  width: 60%;

}

.dev-list li {
  margin-top: 30px;
  background: #F7F7F7;
}

.dev-list h3 {
  color: white;
  font-size: 28px;
  padding: 15px;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  background-color: #17BEBB;
}

.contact-info {
  display: flex;
  padding: 15px;
  padding-top: 0;
  justify-content: center;
}



.contact-info img {
  height: 36px;

}

.about-container p {
  padding: 15px;
  margin: 0 auto;
  color: #434343;
  font-size: 20px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 0;

}

.bio-content {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}


.about-headshot {
  padding: 10px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .kimberly h3 {
    background: #17BEBB;
}

.ian h3 {
  background: #17BEBB;
}

.americo h3 {
  background: #226CE0;
}

.gabriel h3 {
  background: #CA2E55;
} */
