.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container li {
  list-style: none;
}
.about-header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: auto;
  background: #434343;
  color: white;
  padding: 30px;
  position: relative;
  width: 100vw;
  font-size: 40px;
  margin: auto 0;
  left: 0;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
}

.dev-list {
  min-width: 600px;
  width: 60%;

}

.dev-list li {
  margin-top: 30px;
  background: #F7F7F7;
}

.dev-list h3 {
  color: white;
  font-size: 28px;
  padding: 15px;
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-weight: 400;
  background-color: #17BEBB;
}

.contact-info {
  display: flex;
  padding: 15px;
}



.contact-info img {
  height: 36px;
}

.about-container p {
  padding: 15px;
  margin: 0 auto;
  color: #434343;
  font-size: 24px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

/* .kimberly h3 {
    background: #17BEBB;
}

.ian h3 {
  background: #17BEBB;
}

.americo h3 {
  background: #226CE0;
}

.gabriel h3 {
  background: #CA2E55;
} */
