.projects-dashboard h2 {
  background:  #17BEBB;
}

.project-list-item p:hover {
  text-decoration: underline #17BEBB;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 45%;
}

.project-details > * {
  text-align: center;
}

.project-details a {
  margin: 0;
}

i:hover {
  cursor: pointer;
}

.project-header {
  display: flex;
  width: 100%;
  background: #FAFAFA;
  font-family: 'Josefin Sans', sans-serif;
  color: #434343;
  align-items: center;
}

.project-header h3 {
  width: 100px;
}
