.projects-dashboard h2 {
  background:  #17BEBB;
}

.project-list-item p:hover {
  text-decoration: underline #17BEBB;
}


.project-details > * {
  text-align: center;
}

.project-details a {
  margin: 0;
}


.add-icon:hover > .new-hidden  {
  cursor: pointer;
  display: inline-block;
  transition-delay: 1s;
}

.add-icon:hover > .new-show  {
  cursor: pointer;
  display: none;
}

i.new-hidden {
  display: none;
}

.project-header {
  display: flex;
  width: 100%;
  background: #F7F7F7;
  font-family: 'Josefin Sans', sans-serif;
  color: #434343;
  align-items: center;
}

.sub-header.project-dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.list-item.project {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}

.project-name {
  min-width: 100px;
}
