.diff-view {
  background: white;
  height: 80vh;
  overflow: scroll;
  width: 1000px;
}

.diff-table {
  display: flex;
}

.diff-table .rev-titles {
  width: 100px;
}

.diff-view .delete {
  background-color: #fdd;
}

.diff-view .insert {
  background-color: #dfd;
}

.revision-diff li {
  display: flex;
  align-items: center;
}

.revision-diff .line-num {
  width: 40px;
}

.revision-diff .content {
  flex: 1;
}

.revision-diff .content p {
  text-align: left;
}
