.diff-view {
  background: white;
  width: 50vw;
  min-height: 67vh;
  max-height: 67vh;
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
}

.diff-view p {
  margin: 0;
  font-weight: 3 00;
}

.diff-view li,
.diff-view ul {
  margin: 0;
  border: none;
  font-weight: 300;
  box-sizing: border-box;
}

.diff-view ol {
  padding: 20px;
}

.diff-view h3 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 6fr 0fr;
  padding: 15px;
  width: 100%;
  height: 50px;
  font-size: 24px;
  background:   #F7F7F7;
  color: #434343;
  font-weight: 400;
}

.diff-table {
  display: flex;
  position: absolute;
  top: 75px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.diff-table .rev-titles {
  width: 100px;
  padding: 5px;
  box-sizing: border-box;
  height: 100%;
}

.diff-table .rev-titles li {
  width: 90px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diff-table .rev-titles li.active {
  background-color: #eee;
}

.diff-view .delete {
  background-color: #fdd;
}

.diff-view .insert {
  background-color: #dfd;
}

.revision-diff {
  display: flex;
  height: 100%;
  width: 100%;
}

.revision-diff>ol {
  max-height: 100%;
  overflow: scroll;
  width: 100%;
}

.revision-diff li {
  display: flex;
  align-items: center;
}

.revision-diff .line-num {
  width: 40px;
}

.revision-diff .content {
  flex: 1;
}

.revision-diff p {
  text-align: left;
  padding: 5px;
}

.revision-diff .minimap {
  height: 100%;
  overflow: scroll;
  position: relative;
  width: 30%;
  z-index: 3;
}

.revision-diff .minimap p {
  font-size: 4px;
  padding: 2px;

}

.revision-diff .minimap h1, .revision-diff .minimap h2 {
  font-size: 8px;
  padding: 2px;
}

.minimap .container {
  position: relative;
}

.minimap .window-outline {
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
  border: 2px solid #BABABA;
  pointer-events: none;
}

.diff-view span{
  box-sizing: border-box;
  font-size: 16px;
  color: #666666;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 3px;
}

.diff-view strong {
  color: #434343;
  font-size: 24px;
  font-weight: 400;
  padding-right: 5px;
}

.diff-view h4 {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  height: 30px;
  position: relative;
  top: -10px;
  color: #666666;
  background: white;
  z-index: 1;
}

.op-symbol {
  width: 20px;

  text-align: center;
  box-sizing: border-box;
  font-weight: 400;
}
