@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.document-create-container {
  display: flex;
  flex-direction: column;
  width: auto;
  background: #FAFAFA;
  position: relative;
  left: 0;
  top: 11vh;
  width: 100vw;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.save-button {
  margin-left: 25%;
  margin-top: 30px;
  background: #EF6F6C;
  color: white;
  border: none;
  padding: 15px;
  min-width: 120px;
  font-size: 16px;
  cursor: pointer;
  font-family:  'Josefin Sans', sans-serif;
}

.header {
  background: #EF6F6C;
  display: block;
  color: white;
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  font-weight: 400;
  width: 100vw;
  box-shadow: 0px 5px 8px -5px #d8d6d6, 0px -5px 8px -5px #d8d6d6;
}

.draft-version {
  font-weight: normal;
  font-size: 32px;
  margin-left: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.toolbar {
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  background: #F5F5F5;

}

.toolbar li {
  padding: 10px;
}

.toolbar li button {
  background: none;
  border: none;
  font-size: 20px;
}

.toolbar li button:hover {
  cursor: pointer;
}

.editor .public-DraftEditor-content {
  min-height: 400px;
  padding: 20px;
  padding-top: 30px;
  /* margin: 0 10px; */
  overflow: scroll;

}

.editor {
  margin: 0 auto;
  width: 100%;
  background: #FFFDFD;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.ul {
  height: 20px;
}

.editor-main {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: scroll;
}

.header.doc-form {
  border: none;
}
