@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.document-create-container {
  display: flex;
  flex-direction: column;
  width: auto;
  background: #FAFAFA;
}

.header {
  background: #EF6F6C;
  display: block;
  color: white;
  padding: 35px 0;
  text-align: center;
  font-size: 42px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

.draft-version {
  font-weight: normal;
  font-size: 32px;
  margin-left: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.toolbar {
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  background: #F5F5F5;
}

.toolbar li {
  padding: 10px;
}

.toolbar li button {
  background: none;
  border: none;
  font-size: 20px;
}

.toolbar li button:hover {
  cursor: pointer;
}

.editor {
  margin: 0 auto;
  width: 80%;
  background: #FFFDFD;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.italics {
  font-style: italic;
}

.ul {
  height: 20px;
}
