.draft-form-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid lightgray;
}

.draft-form-container li {
  list-style-type: none;
  padding-left: 10px;
}

.draft-form {
  display: flex;
  flex-direction: column;
}

.draft-form {
  box-sizing: border-box;
  width: 400px;
  align-items: center;
  display: flex;
}

.draft-form.text {
  padding-left: 10px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
}

.draft-form.submit {
  font-size: 18px;
  height: 40px;
  border: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #CA2E55;
  text-align: center;
  line-height: 40px;
}

.draft-form.submit:hover {
  background-color: #af2649;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}
