@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.draft-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  font-family: 'Josefin Sans', sans-serif;
}

.draft-form-container li {
  list-style-type: none;
  padding-left: 10px;
}

.draft-form {
  display: flex;
  flex-direction: column;
}

.draft-form {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  display: flex;
}

.draft-form form {
  width: 100%
}

.draft-form.text {
  padding-left: 10px;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none;
}

.draft-form.submit {
  font-size: 18px;
  height: 40px;
  border: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #CA2E55;
  text-align: center;
  line-height: 40px;
}

.draft-version {
  font-weight: normal;
  font-size: 20px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 15px 10px;
  margin-right: 0;
  color:  #434343;
  display: inline-block;
}

.draft-form.submit:hover {
  background-color: #af2649;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}

.draft-drop-down-header {
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
}

.draft-drop-down-button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #666666;
}

.draft-drop-down-button:hover {
  cursor: pointer;
  color: #CA2E55;
}

.draft-drop-down-button h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  display: inline;
}
