.draft-conflicts-modal {
  width: 50vw;
  height: 65vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.draft-conflicts-headers {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  background: #FAFAFA;
  color: #434343;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px;

}


.conflicts-header {
  display: flex;
  justify-content: space-between;
  background:   #F7F7F7;
  color: #434343;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

.resolve-conflicts-modal {
  top: 0;
  width: 65vw;
  background: white;
  font-family: 'Josefin Sans', sans-serif;
  color: #434343;
}


.draft-conflicts-modal span, .resolve-conflicts-modal span {
  padding: 15px 20px;
}

.draft-conflicts-modal header h3, .resolve-conflicts-modal header h3 {
  margin: 0;
  font-weight: 400;
  background:   #F7F7F7;
  padding: 15px;
}

.draft-conflicts-modal h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.draft-conflicts-modal h4:first-of-type {
  text-align: left;
}

.draft-conflicts-modal ul {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.draft-conflicts-modal li {
  display: grid;
  box-sizing: border-box;
}

.draft-conflicts-resolve {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.draft-conflicts-resolve:hover {
  text-decoration: underline #CA2E55;
}

.draft-conflicts-list-item {
  text-align: left;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


.draft-conflicts-list-item p, .draft-conflicts-list-item input {
  text-align: left;
  padding-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #666666;
}


.draft-conflicts-list-item p:first-of-type {
  text-align: left;
  margin-left: 20%;
}

.draft-conflicts-modal footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.draft-conflicts-modal footer p {
  background: #FAFAFA;
  font-size: 14px;
  width: 60%;
  font-family: 'Josefin Sans', sans-serif;
}

.combine-drafts-modal-button {
  width: 30%;
  font-size: 14px;
  border: none;
  background-color: #BABABA;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding: none;
  margin: none;
  box-sizing: border-box;
  display: block;
}

.conflict-draft-section {
  box-sizing: border-box;
  padding: 15px 20px;
  background: #FAFAFA;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


.conflict-draft-section h4 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.conflict-draft-section button {
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  font-size: 14px;
  margin: 15px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.draft1-button {
  background: #17BEBB;
}

.draft2-button {
  background: #226CE0;
}

.resolve-comparison-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.conflict-text {
  overflow: scroll;
  color: #434343;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background: white;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  max-height: 60vh;
  min-height: 30vh;
}


.draft1-highlight {
  background-color: #AFE3E3;
}

.draft2-highlight {
  background-color: #9abcf1;
}


.conflicts-checkbox-filter {
  opacity: 0;
  position: absolute;
}

.conflicts-checkbox-filter, .conflicts-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.conflicts-checkbox-label {
  position: relative;
  height: 20px;
  line-height: 20px;
  font-weight: 200px;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 15px;
  color: #666666;
}

.conflicts-checkbox-filter + .conflicts-checkbox-label:before {
  content: '';
  background: #fff;
  border: 1px solid #BABABA;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  padding: 2px;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  z-index: 1;
}

.conflicts-checkbox-filter:checked + .conflicts-checkbox-label:before {
  background: #CA2E55;
  border: 1px solid #CA2E55;
}


.all-resolved {
  background: #CA2E55;
  cursor: pointer;
}

.combine-drafts-footer {
  display: flex;
  justify-content: center;
}

.combine-drafts-footer p {
  margin: 0;
  line-height: 18px;
}


.choose-draft-checkbox-filter {
  opacity: 0;
  position: absolute;
}

.choose-draft-checkbox-filter, .choose-draft-checkbox-label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.choose-draft-checkbox-label {
  position: relative;
  height: 20px;
  line-height: 20px;
  font-weight: 200px;
  font-size: 16px;
  vertical-align: middle;
  padding-left: 15px;
  padding-top: 15px;
  color: #666666;
}

.choose-draft-checkbox-filter + .choose-draft-checkbox-label:before {
  content: '';
  background: #fff;
  border: 1px solid #BABABA;
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  padding: 2px;
  line-height: 20px;
  margin-right: 10px;
  text-align: center;
  z-index: 1;
}

.choose-draft-checkbox-filter:checked + .choose-draft-checkbox-label:before {
  background: #CA2E55;
  border: 1px solid #CA2E55;
}

.choose-draft-footer-text {
  display: flex;
  color: #434343;
  background: #FAFAFA;
  padding: 20px;
}

.choose-draft-footer-text p {
  font-size: 16px;
}

.select-draft-for-all-conflicts {
  width: 200px;
  font-size: 14px;
  border: 1px solid #D3D3D3;
  background: white;
}
