@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.draft-form-container {
  display: flex;
  flex-direction: column;
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  margin-left: 5%;
  width: 90%
}

.draft-form-container header {
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #226CE0;
}

.draft-form-container li {
  list-style-type: none;
  padding-left: 10px;
}

.draft-form {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.draft-form form {
  width: 75%;
}

.draft-form h4 {
  color: #434343;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 0px;
  padding-left: 10px;

}


.draft-form.text {
  padding: 5px 0;
  padding-left: 10px;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: #666666;
  width: 90%;
}

.draft-form.submit {
  font-size: 16px;
  height: 30px;
  border: none;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background-color: #226CE0;
  text-align: center;
  line-height: 30px;
  padding-left: 22%;
  margin-top: 10px;
  width: 90%;
}

.draft-version {
  font-weight: normal;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 15px 10px;
  margin-right: 0;
  color:  #434343;
  display: inline-block;
}

.draft-version span {
  color: #666666;
}

.draft-form.submit:hover {
  background-color: #666666;
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}

.draft-drop-down-header {
  display: flex;
  align-items: center;
}

.draft-drop-down-button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #666666;
}

.draft-drop-down-button:hover {
  cursor: pointer;
  color: #226CE0;
}

.draft-drop-down-button h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  display: inline;
  color: #434343;
}

.material-icons.all-drafts {
  color: #434343;
  text-align: left;
  padding-left: 5px;
}

.draft-drop-down-button i:hover {
  color: #226CE0;
}

.list-item:hover {
  cursor: pointer;
  background-color: #FAFAFA;
}

.draft-list+ul {
  background-color: white;
  color: #666666;
}

.draft-list .list-item {
  padding: 10px 20px;
}

.list-item.draft {
  padding-left: 20;
  display: flex;
  justify-content: flex-start;
  color: #666666;
  line-height: 16px;
}

.list-item.draft span {
  padding-right: 10px;
}

.draft-menu.hidden {
  display: none;
}

.list-item.draft:hover {
  color: #226CE0;
  line-height: 16px;
}

#combine-drafts-link {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;

}


.combine-drafts-link:hover {
  color: #226CE0;
  text-decoration: underline;
}

.link-to-combine-drafts {
  display: hidden;
}
