@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.nav-container {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 70 px;
  max-height: 70px;
  top: 0;
  z-index: 1;
}

.user-info {
  display: flex;
  list-style: none;
  margin-right: 10px;
  align-items: center;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.user-info li {
  margin-left: 15px;
  color: #434343;
}

a {
  text-decoration: none;
  color: #434343;
  font-size: 18px;
  margin-right: 20px;
}

.user-pic {
  border-radius: 50%;
  height: 50px;
}

.brand-logo {
  height: 70px;
  display: flex;
  justify-content: center;
  margin: 0 15px;
}

.brand-logo img {
  max-width: 100%;
  max-height: 100%;
}

.hover-family {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.hover-arrow {
  margin-right: 15px;
}

.hover-arrow img {
  height: 10px;
}

.sign-out {
  display: none;
}

.hover-family:hover .sign-out {
  display: inline-block;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  background: white;
  list-style: none;
  right: 5px;
  top: 50px;
  text-align: right;
  min-width: 120px;
}
.sign-out a {

}
