.project-show h2 {
  background:  #226CE0;
}

.document-list-item p:hover {
  text-decoration: underline #226CE0;
}


.doc-header-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
}

.doc-list-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 45%;
}


.draft-version {
  font-weight: normal;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  background: white;
  padding: 0;
  margin: 15px 20px;
  color:  #434343;
}

.draft-version span {
  color: #666666;
}

.save-history {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 20px;

}

.save-history button {
  color: #226CE0;
  margin: 0;
  background: none;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.save-history button:hover {
  text-decoration: underline;
}

.save-history p {
  color: #BABABA;
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  font-weight: 400;

}

.save-history p:first-of-type {
  margin-top: 10px;
}

.add-icon:hover > .new-hidden  {
  cursor: pointer;
  display: inline-block;
  transition-delay: 1s;
}

.add-icon:hover > .new-show  {
  cursor: pointer;
  display: none;
}

i.new-hidden {
  display: none;
}

.project-header {
  display: flex;
  width: 100%;
  background: #F7F7F7;
  font-family: 'Josefin Sans', sans-serif;
  color: #434343;
  align-items: center;
}
