@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

.project-file-tree {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.project-file-tree header {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

header a {
  display: flex;
  align-items: center;
  width: 100%;
}

header .to-dashboard-DocumentForm:hover {
  color: #EF6F6C;
}

header .to-dashboard-ProjectShow:hover {
  color: #226CE0;
}

header .to-dashboard-undefined:hover {
  color: #CA2E55;
}


.left-sidebar h5 {
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0;
  padding-left: 10px;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}

.left-sidebar i {
  padding-left: 20px;
}

.project-file-tree ul li {
  margin-left: 45px;
  list-style: none;
  padding: 8px 0;
  border-bottom: 1px solid #FAFAFA;

}

.project-file-tree ul li a:hover {
  color: #EF6F6C;
}


.project-file-tree ul li a {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-file-tree h6 {
  display: inline;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
}

.project-file-tree h6 span {
  padding-right: 10px;
}

.project-file-tree h4 {
  display: inline-block;
  font-weight: 400;
  margin: 0;
  padding-left: 15px;
}

.folder-header {
  padding-left: 5px;
}

.folder-header a {
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.folder-header a:hover {
  color: #EF6F6C;
}



.current-doc {
  display: flex;
  align-items: center;
  color: #EF6F6C;
}

.other-doc {
  display: flex;
  align-items: center;
  color: #666666;
}

.other-doc > * {
  color: #666666;
}

.other-doc:hover > * {
  color:  #EF6F6C;
}
