.save-history-modal {
  background: white;
  overflow: scroll;
  display: flex;
  width: 50vw;
  min-height: 67vh;
  max-height: 67vh;
  flex-direction: column;
  justify-content: space-between;
}

.save-history-modal header {
  display: flex;
  justify-content: space-between;
  background:   #F7F7F7;
  color: #434343;
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.save-history-modal span {
  padding: 15px 20px;
}

.save-history-modal header h3 {
  margin: 0;
  font-weight: 400;
  background:   #F7F7F7;
  padding: 15px;
}

.save-history-modal h4 {
  font-weight: 400;
}

.save-history-headers {
  background: #FAFAFA;
  color: #434343;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr;
  padding: 15px;
  box-sizing: border-box;
  position: fixed;
  top: 50px;
  width: 100%;

}


.save-history-headers > * {
  margin: 0;
  text-align: center;
}

.save-history-headers h4:first-of-type {
  text-align: left;
}


.close-x {
  cursor: pointer;
}

.save-list-items {
  padding-left: 0;
  margin-left: 0;
}

.save-list-item {
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr;
  padding: 0px 15px;
  cursor: pointer;
}

.save-list-item p {
  color: #666666;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  border-bottom: 1px solid #FAFAFA;
}

.save-list-item p:first-of-type {
  text-align: left;
}

.save-list-item p:hover {
  text-decoration: underline;
}

.save-history-modal ul {
  padding: 0;
  margin: 0;
  margin-top: 100px;
}

.show-auto-saves {
  color:  #226CE0;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  padding-right: 50px;
  cursor: pointer;

}
