.list-item {
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
}

.list-item p {
   color: #666666;
   text-align: center;
   font-weight: 400;
   cursor: pointer;
   line-height: 20px;
   font-size: 16px;
}

.list-item a {
  padding: 0;
  margin: 0;
}

.list-name {
  display: flex;
  align-items: center;
}

.edit-button-pencil {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.pencil {
  height: 10px;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 20px;
}
