.list-item {
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  font-family: 'Josefin Sans';
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #FAFAFA;
}

.list-item p {
   color: #666666;
   text-align: center;
   font-weight: 400;
   line-height: 20px;
   font-size: 16px;
}

.list-name > a > p {
  text-align: left;
}

.list-item a {
  padding: 0;
  margin: 0;
}

.list-name {
  display: flex;
  align-items: center;
}

.list-item .wrap {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.edit-button-pencil {
  width: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-button-pencil i {
  font-size: 14px;
  color: #E0E0E0;
  margin: 0;
  padding: 0;
}

.edit-button-pencil i:hover {
  color: #666666;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 20px;
  color: #E0E0E0;
}

.delete-button i:hover {
  color: #666666;
}

.error-message {
  color: red;
}
