.standard-layout {
  position: fixed;
  left: 0;
  width: 100vw;

}

.standard-layout h2 {
  color: white;
  padding: 30px 0;
  text-align: center;
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 auto;
  font-weight: 400;

  box-shadow: 0px 5px 8px -5px #d8d6d6, 0px -5px 8px -5px #d8d6d6;
}

.standard-layout main {
  display: flex;
  flex-direction: row;
  height: 80vh;
}

.standard-layout main aside {
  width: 17vw;
  background: #FAFAFA;
}

.standard-layout main section {
  width: 66vw;
}

.main-list {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 8px -5px #d8d6d6, -4px 0 8px -5px #d8d6d6;
  z-index: 5;

}

.main-list h3, .main-list div {
  font-family: 'Josefin Sans', sans-serif;
  color: #434343;
}


.main-list h3 {
  background: #F7F7F7;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  padding-left: 20px;
}

.project-header {
  min-height: 50px;
  max-height: 80px;
}

.project-header i {
  padding-left: 15px;
}

.main-list {
  font-size: 18px;
  color: #434343;
}

.sub-header {
  padding: 0px 20px;
  min-height: 35px;
  display: flex;
  justify-content: space-between;
  background: #FAFAFA;
}

.sub-header h4 {
  margin: 0;
  padding: 10px 0px;
  font-weight: 400;
  text-align: center;
}

.sub-header-right {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 45%;
  padding: 0;
}

.standard-layout ul {
  margin: 0;
  padding: 0;
}

.scrollable-list {
  height: 1500px;
  overflow: scroll;
}
