.title-change-errors {
  background: #EF6F6C;
  min-height: 50px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.title-change-errors li {
  color: white;
  padding: 0 15px;
  list-style: none;
}
